@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  transition: all 0.4s ease;;
}

/* ===== Colours ===== */
:root{
  --body-color: #E4E9F7;
  --side-nav: #010718;
  --text-color: #FFF;
  --search-bar: #F2F2F2;
  --search-text: #010718;
}

body{
  height: 100vh;
  background-color: var(--body-color);
}

body.dark{
  --body-color: #18191A;
  
  --side-nav: #242526;
  --text-color: #CCC;
  --search-bar: #242526;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: var(--nav-color);
  z-index: 100;
}



nav .nav-bar{
  position: relative;
  height: 100%;
  max-width: 1000px;
  width: 100%;
  background-color: var(--nav-color);
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .nav-bar .sidebarOpen{
  color: var(--text-color);
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
  display: none;
}

nav .nav-bar .sagkiun a{
  font-size: 25px;
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
}

.menu .kuledsamin{
  display: none;
}

.nav-bar .nav-links{
  display: flex;
  align-items: center;
}

.nav-bar .nav-links li{
  margin: 0 5px;
  list-style: none;
}

.nav-links li a{
  position: relative;
  font-size: 17px;
  font-weight: 400;
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
}

.nav-links li a::before{
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: var(--text-color);
  opacity: 0;
  transition: all 0.3s ease;
}

.nav-links li:hover a::before{
  opacity: 1;
}

.nav-bar .poiskovay{
  display: flex;
  align-items: center;
}

.poiskovay .dark-light,
.poiskovay .saiunkluca{
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}

.dark-light i,
.saiunkluca i{
  position: absolute;
  color: var(--text-color);
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dark-light i.sun{
  opacity: 0;
  pointer-events: none;
}

.dark-light.cedsamun i.sun{
  opacity: 1;
  pointer-events: auto;
}

.dark-light.cedsamun i.moon{
  opacity: 0;
  pointer-events: none;
}

.saiunkluca i.cancel{
  opacity: 0;
  pointer-events: none;
}

.saiunkluca.cedsamun i.cancel{
  opacity: 1;
  pointer-events: auto;
}

.saiunkluca.cedsamun i.search{
  opacity: 0;
  pointer-events: none;
}

.poiskova-stroka{
  position: relative;
}

.poiskova-stroka .puesko-dsamva{
  position: absolute;
  bottom: -85px;
  right: 5px;
  height: 50px;
  width: 300px;
  display: flex;
  align-items: center;
  background-color: var(--nav-color);
  padding: 3px;
  border-radius: 6px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.saiunkluca.cedsamun ~ .puesko-dsamva{
  bottom: -74px;
  opacity: 1;
  pointer-events: auto;
}

.puesko-dsamva::before{
  content: '';
  position: absolute;
  right: 14px;
  top: -4px;
  height: 12px;
  width: 12px;
  background-color: var(--nav-color);
  transform: rotate(-45deg);
  z-index: -1;
}

.puesko-dsamva input{
  height: 100%;
  width: 100%;
  padding: 0 45px 0 15px;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  color: var(--search-text);
  background-color: var(--search-bar);
}

body.dark .puesko-dsamva input{
  color: var(--text-color);
}

.puesko-dsamva i{
  position: absolute;
  color: var(--nav-color);
  right: 15px;
  font-size: 22px;
  cursor: pointer;
}

body.dark .puesko-dsamva i{
  color: var(--text-color);
}

@media (max-width: 790px) {
  nav .nav-bar .sidebarOpen{
  display: block;
  }

  .menu{
  position: fixed;
  height: 100%;
  width: 320px;
  left: -100%;
  top: 0;
  padding: 20px;
  background-color: var(--side-nav);
  z-index: 100;
  transition: all 0.4s ease;
  }

  nav.cedsamun .menu{
  left: -0%;
  }

  nav.cedsamun .nav-bar .navsagkiun a{
  opacity: 0;
  transition: all 0.3s ease;
  }

  .menu .kuledsamin{
  display: block;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  }

  .kuledsamin .siderbarClose{
  color: var(--text-color);
  font-size: 24px;
  cursor: pointer;
  }

  .nav-bar .nav-links{
  flex-direction: column;
  padding-top: 30px;
  }

  .nav-links li a{
  display: block;
  margin-top: 20px;
  }
}


.floating-button {
  text-decoration: none;
  display: inline-block;
  width: 100px;
  height: 15px;
  line-height: 15px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}
.floating-button:hover {
  background: #2EE59D;
  box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
  color: white;
  transform: translateY(-7px);
}